@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  /* set display to flex*/
  display: flex;
  flex-wrap: wrap;
  position: relative; 
  background-color: #f3f3f3;
  min-height: 100%;
  height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: .8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: .8em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    /* Updated padding for mobile */
    padding: 2% 3% 3%;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  height: 400px;
  width: 100%;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list-container {
  width: 100%;
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0 0 20px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 32%;
  box-sizing: border-box;
}

#restaurants-list li:nth-child(3n+2) {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.1em;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  /* remove fix positioning urrrghh */
  position: relative;
  /* top: 0; */
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  height: unset;
  background: blue none repeat scroll 0 0;
  /* remove fixed positioning */
  position: relative;
  /* right: 0; */
  /* top: 80px; */
  width: 50%;
  order: 2;
  /*make it always the same height as the restaurant container */
  align-self: stretch;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.5em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
  order: 1;
  box-sizing: border-box;
}

#reviews-container {
  padding: 30px 40px 80px;
  order: 3;
  width: 100%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: .1em;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

#reviews-list li:nth-child(odd) {
  margin-right: 4%;
}

#reviews-list li p {
  margin: 0 0 10px;
  padding: 15px 22px;
  box-sizing: border-box;
}

#reviews-list li p:nth-child(-n+2) {
  background-color: #333;
  width: 50%;
  color: white;
}

#reviews-list li p:nth-child(1) {
  font-size: 1.5em;
  font-weight: 500;
}

#reviews-list li p:nth-child(2) {
  text-align: right;
  font-size: 1.2em;
}

#reviews-list li p:nth-child(3) {
  width: 100%;
  text-align: center;
  margin: 0 26%;
  background: orange;
  font-size: 1.3em;
  color: white;
  letter-spacing: .1em;
  font-weight: 700;
}

#restaurant-hours td {
  color: #666;
}

/* ====================== Media Queries ====================== */


/* Desktops */
@media all and (min-width:1200px){  

}

@media all and (min-width: 960px) and (max-width: 1199px) { 

}

/* up to Portrait iPad/tablets */
@media all and (max-width: 959px) {

  #breadcrumb {
    width: 100%;
    box-sizing: border-box;
  }

  #restaurants-list li {
    width: 48%;
  }

  #restaurants-list li:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }

  #restaurants-list li:nth-child(odd) {
    margin-right: 2%;
  }


  .inside #map-container {
    height: 50vh;
    position: relative;
    width: 100%;
    order: 1;
  }

  #restaurant-container, #reviews-container {
    padding: 20px 35px 30px;
    width: 100%;
    box-sizing: border-box;
  }

  #restaurant-container {
    order: 2;
  }

  #reviews-container {
    order: 3;
  }

  #restaurant-img {
    width: 100%;
    border-radius: 50px 0 50px 0;
  }

  #restaurant-cuisine {
    width: 100%;
  }

  #restaurant-address {
    font-size: 1.5em;
  }

  #reviews-list li {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px 0 50px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  #reviews-list li:nth-child(odd) {
    margin-right: 0;
  }

  #reviews-list li p {
    padding: 15px 22px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 300;
  }

}

/* landscape phones */
@media all and (min-width: 480px) and (max-width: 767px){



}

@media all and (max-width: 599px) {

}

/* portrait phones */
@media all and (max-width: 479px) {

  /* reduce base font size */
  body, td, th, p {
    font-size: 11px;
  }

  nav {
    height: 50px;
  }

  #restaurants-list li {
    width: 100%;
    border-radius: 35px 0 35px 0;
  }

  #restaurants-list li:nth-child(odd) {
    margin-right: 0;
  }


  #restaurant-container, #reviews-container {
    padding: 20px 13px 30px;
  }


  #restaurant-img {
    border-radius: 35px 0 35px 0;
  }

  #reviews-list li {
    border-radius: 35px 0 35px 0;
  }

  #reviews-list li p:nth-child(3) {
    line-height: .5;
  }

  .inside #footer {
    padding: 15px 10px;
  }

}